/* Header */
#topOfdiv{
    display: flex;
    flex-direction: row;
}
#leftTopDiv{
  width:359px;
   height:110px;
   border: solid 2px green;
}
#rightTopDiv{
    display: flex;
    flex-direction: row;
}
#headerMiddleDiv{
display:flex;
flex-direction: row;
}
#headerBottomDiv{
    display:flex;
    flex-direction: row;
}

.mainDivs{
    display: flex;
    flex-wrap: wrap;
    width: 1300px;
    height: 600px;
}

#cultureMainDiv{
    border:solid 3px green;
}

#mainDIvSport{
    display: grid;
    
    border:solid 3px green;
}
